<div class="max-w-4xl mx-auto sm:px-6 lg:px-8">

  <div class="flex content-center">

    <div class="text-center">

        <h1 class="text-4xl mt-12 mb-4">Choisissez la classe de votre enfant</h1>

        <% @classrooms.each do |classroom| %>
          <div class="my-12">
            <%= link_to classroom.name, classroom_path(classroom), class: "btn-#{classroom.color}" %>
          </div>
        <% end %>
        <% # Hack for PurgeCSS because btn-blue btn-purple btn-yellow are only used here %>
        <!--<span class="btn-blue btn-purple btn-yellow"></span>-->

    </div>

  </div>

</div>
