= link_to edit_child_path(child), title: child.name, class: "w-full  md:w-1/2 lg:w-1/3 xl:w-1/4 rounded shadow-lg" do
  .px-6.py-4.flex.flex-col{style: "min-height: 160px"}
    .font-bold.text-xl.mb-2= child.name
    - if child.next_animation
      %p.text-gray-700.text-base
        = child.next_animation
    .mt-auto
      %span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2= child.classroom.name
