.item
  .content
    %a.header= reservation.title
    .meta
      %span= reservation.classroom_animation.human_time
    .description
      %p= reservation.classroom_animation.course&.description
    .extra
      .ui.right.floated
        = link_to [:edit, :parent, reservation], class: 'ui button' do
          %i.fas.fa-edit.mx-2
          Modifier
