- content_for(:page_title, "Mes inscriptions")
= link_to new_parent_classroom_animation_reservation_path, style: "background-color: #31C48D", class: 'ui green button collection_action' do
  %i.ui.search.icon
  Trouver un cours
.courses.w-full.flex.flex-wrap
  = render partial: 'car', collection: @cars
