%header.flex.items-stretch.justify-center.bg-blue-400.p-5
  %p.text-white.text-center.text-lg.mb-0.md:text-lg.self-center
    En ce moment
    pour Lucas, Le cycle de l'eau
  %span.rounded-md.shadow-sm.ml-4.p-2.self-center
    = link_to "Rejoindre le direct", page_path('professeurs-benevoles'), class: 'btn-pink my-1 md:text-lg md:text-center md:px-2'
%header.flex.items-stretch.justify-center.bg-blue-400.p-5
  %p.text-white.text-center.text-lg.mb-0.md:text-lg.self-center
    Hugo, Le cycle de l'eau
  %span.bg-pink-500.text-white.font-bold.mx-4.py-2.px-4.rounded.opacity-50.cursor-not-allowed
    Démarre bientôt
%header.flex.items-stretch.justify-center.bg-blue-400.p-5
  %p.text-white.text-center.text-lg.mb-0.md:text-lg.self-center
    Hugo, Le cycle de l'eau
  %span.bg-pink-500.text-white.font-bold.mx-4.py-2.px-4.rounded.opacity-50.cursor-not-allowed
    Démarre dans 10m
