<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">Contact</h1>
    </div>
</header>

<main class="max-w-4xl mx-auto sm:px-6 lg:px-8 mt-12">

    <p>
    Lorsque vous remplissez un formulaire sur notre site, nous recueillons les informations suivantes : votre nom, votre email, et toutes les informations personnelles que vous pourriez nous communiquer concernant votre demande.
    </p>

    <p>
        Ces données sont collectées dans l’objectif d’établir un premier contact et de répondre au plus proche de votre demande par l’élaboration d’une réponse en rapport avec les services proposés.
    </p>

    <p>
        Le caractère obligatoire ou facultatif vous est signalé lors de la collecte par un astérisque.
    </p>


    <form class="w-full max-w-lg m-auto py-12">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Prénom *
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="jane">
                <p class="text-red-500 text-xs italic">Merci de remplir ce champs</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Nom *
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="doe">
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Adresse email *
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="jane.doe@gmail.com">
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Objet
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="demande d'information">
            </div>
        </div>
        
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Message
                </label>
                <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="message"></textarea>
            </div>
        </div>


        <div class="md:flex md:items-center mb-6">
            <label class="block text-gray-500 font-bold">
            <input class="mr-2 leading-tight" type="checkbox">
            <span class="text-sm">
                J'accepte les conditions générales*
            </span>
            </label>
        </div>
        Politique de confidentialité :
        <div class="md:flex md:items-center mb-6">
            <label class="block text-gray-500 font-bold">
            <input class="mr-2 leading-tight" type="checkbox">
            <span class="text-sm">
                En cochant cette case j’autorise "La classe à la maison" à enregistrer mes données personnelles (email, coordonnées, message)
            </span>
            </label>
        </div>
        <div class="md:flex md:items-center">
            <div class="m-auto">
            <button class="btn-pink" type="button">
                Envoyer
            </button>
            </div>
        </div>


    </form>

</main>