<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-2xl md:text-4xl text-pink-400 font-bold">Parents</h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-8">

      <h2>Classe virtuelle</h2>

      <p>
        Chers Parents,<br>
        Bienvenue sur laclassealamaison.org.<br>
        Vous vous posez sûrement des questions sur ce site, et ce qu’il pourra apporter à vos enfants.
        Nous allons tenter d’y répondre et rendre le fonctionnement de cette plateforme le plus clair possible.
      </p>

      <h2>Continuité pédagogique</h2>

      <p>
        De nombreuses plateformes existent déjà pour les cours en ligne.
        Cependant, elles ne sont pas forcément adaptées à la situation inédite de confinement que nous rencontrons actuellement.
      </p>
      <p>
        En effet, tous les enfants (dont les parents ne sont pas en première ligne) doivent travailler à distance.
        Afin de lutter contre le confinement, engendrée par la pandémie du COVID-19,
        nous avons mis en place un site Internet pour assurer aux plus jeunes (maternelle, primaire) une continuité pédagogique.
      </p>

      <h2>La Plateforme La Classe à la Maison</h2>

      <p>
        Nous avons développé une plateforme très simple d’utilisation et ergonomique,
        proposant un contenu adapté à des enfants en maternelle et primaire.<br>
        Vous pourrez donc retrouver des cours en live de 9h à 12h et de 14h à 17h, par tranche d’une heure,
        accompagnés d’un chat permettant de poser des questions ou de réagir en temps réel avec le professeur.
      </p>
      <p>
        En dehors des horaires, la plateforme reste disponible pour des contenus ludiques et éducatifs. Exemple :
        <ul class="list-disc">
            <li>"Le monde des titounis" pour les maternelles</li>
            <li>"C’est pas sorcier" pour les primaires</li>
        </ul>
      </p>

      <h2>Sécurité</h2>

      <p>
      Pour la sécurité de vos enfants, nous nous assurons que tous les professeurs bénévoles soient des enseignants de l’<a href="https://www.education.gouv.fr/" target="_blank" class="liens">Education Nationale</a>.
      De plus, nous faisons également une modération sur le chat.
      </p>


      <p>
      Vous pouvez consulter notre page :
      Politique de confidentialités des données concernant vos enfants et également le lien du site Internet Maclassealamaison.fr
      (plateforme indépendante au CNED).
      </p>


        <div class="my-12">
            <span class="inline-flex rounded-md shadow-sm mr-2">
            <%= link_to 'Politique de confidentialité des données de vos enfants', page_path('politique-de-confidentialite'), class: 'btn-red' %>
            </span>

            <span class="inline-flex rounded-md shadow-sm">
            <%= link_to 'MaClasseALaMaison site de la CNED', 'https://www.cned.fr/maclassealamaison/', target: '_blank', class: 'btn-green' %>
            </span>
        </div>


</div>
