<% title 'Questions / Réponses' %>
<% description "Comment se servir du site Internet La Classe à la maison? combien de temps dure un cours en live? comment se passe la continuité pédagogique de vos enfants ?" %>
<% keywords 'classe, virutelle, confinement, maternelle, primaire, enfants, école, interactif, continuité, pédagogie, professeur, en ligne, room, pédagogie, lutte contre le covid' %>
<% set_meta_tags og: { 
    title:    'Les parents',
    type:     'website',
    url:      'https://laclassealamaison.org/faq',
    image: {
      _: 'assets/images/open-graph.jpg',
      width: 600,
      height: "315",
    }
 } %>
 <% set_meta_tags twitter: {
  card:  "photo",
  image: {
    _:      "assets/images/logo-carre.png",
    width:  100,
    height: 100,
  }
} %>


<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-2xl md:text-4xl text-pink-400 font-bold">Questions/Réponses</h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-8 mb-12">

    <!-- FAQ GENERAL -->
    <h2>Général</h2>

    <div class="border-solid border-2 border-gray-400 mb-0 p-3">
        > Je suis un enfant, comment me servir du site avec Papa ou Maman ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Pour pouvoir se servir du site, sélectionnez la section enfant, puis votre classe et enfin rejoignez la salle de classe virtuelle.
            </p>
        </div>
    </div>


    <!-- FAQ GENERAL -->
    <h2>Parents</h2>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Existe-t-il des vidéos pour nous indiquer la marche à suivre ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Oui, il existe des tutoriels mis en ligne sur la chaine YouTube de La classe à la maison : 
                <a href="https://www.youtube.com/channel/UC_p3TNyR4-2_aGDkH3FjhNA" target="_blank">https://www.youtube.com/channel/UC_p3TNyR4-2_aGDkH3FjhNA</a>
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Comment doit on s’inscrire pour suivre un cours de soutien ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Il n’y a pas besoin d’inscription pour suivre un cours de soutien scolaire. 
                Vous avez juste à vous connecter, cliquer sur « entrée enfant », cliquer sur le niveau souhaité et rejoindre la classe en direct. 
                Des tutoriels sont à votre disposition sur Youtube : 
                <a href="https://www.youtube.com/channel/UC_p3TNyR4-2_aGDkH3FjhNA" target="_blank">https://www.youtube.com/channel/UC_p3TNyR4-2_aGDkH3FjhNA</a>
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Besoin de préparer papier, crayon, ardoise pour le petit? Ou c’est juste un échange en live entre l’enseignant et les 10 enfants ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Certains professeurs peuvent effectivement demander du matériel. Il est donc préférable de le préparer afin que vous soyez prêts en cas de besoin.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Ça dure combien de temps la visio ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                La plage réservée par le professeur est d’une heure.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > A-t-on possibilité de connaître en avance le programme de la session ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Nous travaillons actuellement sur une évolution du site qui permettra au professeur d’indiquer  le contenu de l’heure de soutien scolaire.
            </p>
        </div>
    </div>
    

    <!-- FAQ PROFESSEUR -->
    <h2>Professeurs</h2>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Existe-t-il des vidéos pour nous indiquer la marche à suivre ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Oui, il existe des tutoriels mis en ligne sur la chaine YouTube de La classe à la maison : 
                <a href="https://www.youtube.com/channel/UC_p3TNyR4-2_aGDkH3FjhNA" target="_blank">https://www.youtube.com/channel/UC_p3TNyR4-2_aGDkH3FjhNA</a>
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        >  Quelle est la durée approximative de la séance ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                La plage que vous réservée est d’une heure.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Peut-on faire phonologie puis calcul puis histoire? Ou vaut-il mieux séparer français et mathématiques ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Vous pouvez animer votre soutien scolaire en toute autonomie dès lors qu’il reprend des points du programme de l’éducation nationale.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Avons-nous les mêmes élèves chaque jour ou pas du tout ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                La plateforme est ouverte à la France entière. Donc vous pouvez retrouver vos élèves s’ils se connectent sur votre cours. 
                Vous pouvez, si vous le souhaitez, informer les enfants de votre classe de la prochaine session que vous allez animer afin 
                qu’ils puissent s’y connecter.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Avez-vous un retour des parents ? Y avons-nous accès ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                C’est une évolution du site à laquelle nous réfléchissons actuellement.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Doit-on préparer le matériel complet de la leçon (ex: fiches du son étudié avec dessins, exercices à faire pour les enfants, ...) ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Oui, vous pouvez préparer le matériel complet puisque vous animez comme vous le souhaitez l’heure que vous réservez. 
                L’important est de reprendre un point du programme de l’éducation nationale.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Les enfants répondent-ils en direct à mes questions? Entendent-ils les réponses des autres? Bref, c'est comme une vraie classe ou pas ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Les enfants répondent effectivement en direct à vos questions si vous le souhaitez. 
                De ce fait les autres enfants peuvent entendre leurs réponses.<br><br>
                C’est comme une vraie classe
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Les enfants ont-ils une ardoise pour répondre ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Si vous en avez besoin et que les enfants en ont une, pourquoi pas.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Est-ce possible de voir un exemple en vidéo ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Vous pouvez vous connecter en tant qu’enfant pour voir le déroulé d’une session. 
                Toutefois, afin de privilégier l’accès aux enfants, nous vous remercions de bien vouloir vous connecter 
                10 minutes après le début du cours, favorisant ainsi les places pour les enfants.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        >  Que proposer aux maternelles ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Pourquoi pas des histoires, comptines, dessins, mathématiques, travail sur les sons, etc.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Peut-on partager un document sans partager son écran? Peut-on télécharger un document sur la salle de classe? (et si oui comment?)
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Vous pouvez montrer votre document à l'écran ou partager votre écran sur lequel il y aura le document.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > Peut-on faire écrire les élèves sur un tableau blanc ou pour nous même également?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Vos élèves peuvent écrire sur une feuille puis vous la montrer en visio.
            </p>
        </div>
    </div>

    <div class="border-solid border-2 border-gray-400 mb-2 p-3">
        > J'ai planifié une session. Comment faire pour l’annuler ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Pour annuler une séance, nous vous remercions de bien vouloir nous faire un mail à : 
                <a href="mailto:contact.lcalm@gmail.com">contact.lcalm@gmail.com</a> en nous précisant le niveau et l’horaire. 
                Nous nous chargerons de l’annuler.
            </p>
        </div>
    </div>




    <!-- SOUMETTRE UNE QUESTION -->
    <h2>Vous vous posez des questions ?</h2>

    <p>
        N’hésitez pas à les demander au professeurs qui y répondront ici :
    </p>

    <div class="my-12">
        <span class="inline-flex rounded-md shadow-sm mr-2">
            <%= link_to 'Je pose ma question...', new_question_path, class: 'btn-orange' %>
        </span>
    </div>

</div>
