<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">Questions/Réponses</h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-8 mb-12">

    <h2>Vous vous posez des questions ?</h2>

    <p>
        N’hésitez pas à les demander au professeurs qui y répondront ici :
    </p>

    <div class="my-12">
        <span class="inline-flex rounded-md shadow-sm mr-2">
            <%= link_to 'Je pose ma question...', new_question_path, class: 'btn-orange' %>
        </span>
    </div>

    <h2>Général</h2>

    <p class="border-solid border-2 border-gray-400 mb-0 p-3">
        > Je suis un enfant, comment me servir du site avec Papa ou Maman ?
        <div class="p-3 border-l-2 border-r-2 border-b-2 border-gray-400">
            <p class="pl-4">
                Pour pouvoir se servir du site, sélectionnez la section enfant, puis votre classe et enfin rejoignez la salle de classe virtuelle.
            </p>
        </div>
    </p>

</div>
