<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">Mentions Légales</h1>
    </div>
</header>

<main class="max-w-4xl mx-auto sm:px-6 lg:px-8 my-12">
    <h2>Préambule</h2>
    <p>
        LA CLASSE A LA MAISON est une initiative sociale et solidaire gratuite et temporaire dont le but est de venir en aide aux familles contraintes de veiller au suivi de la scolarité de leurs enfants à distance en raison de la crise du virus COVID19. LA CLASSE A LA MAISON offre la possibilité de publier des vidéos de séances de soutien scolaire bénévole à destination des enfants suivant habituellement des enseignements de niveau maternelle jusqu’au primaire.
    </p>
    <p>
        LA CLASSE A LA MAISON ne se substitue pas aux enseignements délivrés par les établissements scolaires mais propose des outils pédagogiques de soutiens en complément des enseignements officiels.
    </p>

    <h2>Quel est l’objectif des conditions d’utilisation?</h2>
    <p>
        Les conditions d’utilisation de LA CLASSE A LA MAISON organisent les droits et obligations des utilisateurs dans le cadre de l’utilisation des services proposés sur http://www.laclassealamaison.fr
    </p>

    <h2>Quels engagements je souscris avec LACLASSEALAMAISON en acceptant ces conditions d’utilisation? Et pendant combien de temps ?</h2>
    <ol>
        <li>En acceptant ces conditions d’utilisation vous vous engagez à respecter les règles posées pour avoir le droit d’accéder et d’utiliser les services proposés sur le site web. </li>
        <li>Tant que vous utilisez LACLASSEALAMAISON vous devez respectez ces conditions d’utilisation.</li>
    </ol>

    <h2>Informations reçues avant d’accepter les conditions d’utilisation.</h2>
    <ol>
        <li>En acceptant  les conditions d’utilisation, vous reconnaissez que vous avez bien compris toutes les explications que vous a fournies LACLASSEALAMAISON, via son site web ou par tout autre moyen, avant de les accepter s’agissant de la manière d’utiliser les services proposés sur le site web.</li>
        <li>En acceptant ces conditions d’utilisation, vous reconnaissez que vous avez obtenu toutes les informations que vous souhaitiez sur le plan technique et sur l’utilisation des services proposés.</li>
    </ol>

    <h2></h2>
    <p>

    </p>

</main>