<% title 'Mentions Légales' %>
<% description "La Classe à la maison est une initiative sociale et solidaire. Gratuite et temporaire durant le temps du confinement." %>
<% keywords 'classe, virtuelle, confinement, maternelle, primaire, enfants, école, interactif, continuité, pédagogie, professeur, en ligne, room, pédagogie, lutte contre le covid' %>
<% set_meta_tags og: { 
    title:    'Mentions légales - La classe à la maison',
    type:     'website',
    url:      'https://laclassealamaison.org/mentions-legales',
    image: {
      _:      'https://www.laclassealamaison.org/og/open-graph.jpg',
      width:  600,
      height: 315,
    }
 } %>
 <% set_meta_tags twitter: {
  card:  "photo",
  image: {
    _:      'https://www.laclassealamaison.org/og/logo-carre.png',
    width:  100,
    height: 100,
  }
} %>

<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-2xl md:text-4xl text-pink-400 font-bold">Mentions Légales</h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-8 my-12">
    <h2>Préambule</h2>
    <p>
        LA CLASSE A LA MAISON est une initiative sociale et solidaire gratuite et temporaire dont le but est de venir en aide aux familles contraintes de veiller au suivi de la scolarité de leurs enfants à distance en raison de la crise du virus COVID19. LA CLASSE A LA MAISON offre la possibilité de publier des vidéos de séances de soutien scolaire bénévole à destination des enfants suivant habituellement des enseignements de niveau maternelle jusqu’au primaire.
    </p>
    <p>
        LA CLASSE A LA MAISON ne se substitue pas aux enseignements délivrés par les établissements scolaires mais propose des outils pédagogiques de soutiens en complément des enseignements officiels.
    </p>

    <h2>Quel est l’objectif des conditions d’utilisation?</h2>
    <p>
        Les conditions d’utilisation de LA CLASSE A LA MAISON organisent les droits et obligations des utilisateurs dans le cadre de l’utilisation des services proposés sur http://www.laclassealamaison.fr
    </p>

    <h2>Quels engagements je souscris avec LACLASSEALAMAISON en acceptant ces conditions d’utilisation? Et pendant combien de temps ?</h2>
    <ol>
        <li>En acceptant ces conditions d’utilisation vous vous engagez à respecter les règles posées pour avoir le droit d’accéder et d’utiliser les services proposés sur le site web. </li>
        <li>Tant que vous utilisez LACLASSEALAMAISON vous devez respectez ces conditions d’utilisation.</li>
    </ol>

    <h2>Informations reçues avant d’accepter les conditions d’utilisation.</h2>
    <ol>
        <li>En acceptant  les conditions d’utilisation, vous reconnaissez que vous avez bien compris toutes les explications que vous a fournies LACLASSEALAMAISON, via son site web ou par tout autre moyen, avant de les accepter s’agissant de la manière d’utiliser les services proposés sur le site web.</li>
        <li>En acceptant ces conditions d’utilisation, vous reconnaissez que vous avez obtenu toutes les informations que vous souhaitiez sur le plan technique et sur l’utilisation des services proposés.</li>
    </ol>

    <h2>Ce qu’il est possible de faire avec LACLASSEALAMAISON</h2>
    <ol>
        <li>Avec la LACLASSEALAMAISON, vous pouvez publier des supports pédagogiques (vidéos ou autres) permettant, dans le respect des textes légaux et réglementaires, d’assurer un support de soutien scolaire aux enfants scolarisés dans les classes de maternelle à primaire.</li>
        <li>Aucune offre de service payante n’est autorisée sur LACLASSEALAMAISON.FR.</li>
        <li>Avec LACLASSEALAMAISON, le public cible peut également bénéficier gratuitement de l’accès aux outils pédagogiques mis en ligne. L’accès aux contenus n’est possible que sous le strict contrôle des adultes responsables des enfants intéressés. </li>
        <li>Toute publication contraire à l’ordre public ou aux bonnes mœurs, notamment par l’insertion d’éléments tels que, sans que cela soit exhaustif, toute publication à caractère pornographique ou pédophile, ou tout contenu incitant à la violence ou faisant l’apologie du terrorisme,  ou revêtant le caractère d’appel au meurtre ou d’incitation à la haine raciale ou portant atteinte à la vie privée ou aux droits de la personnalité d’autrui donnera lieu à la mise en œuvre des voies de droit nécessaires.<li>
        <li>LACLASSEALAMAISON.FR opère une modération des contenus publiés, toutefois vous reconnaissez être informé qu’en vertu de la loi n° 2004-575 du 21 juin 2004 sur la confiance dans l’économie numérique et notamment de ses articles 6-2 et 6-3 LACLASSEALAMAISON n’est pas soumis à « une obligation générale de surveiller les informations qu’il transmet ou stocke, ni à une obligation générale de rechercher des faits ou des circonstances révélant des activités illicites ». <li>
        <li>Si vous constatez la présence de contenus susceptibles de porter atteinte aux droits des tiers, vous vous engagez donc à nous le faire savoir dans les meilleurs délais et conformément aux conditions générales. </li>
    </ol>

    <h2>Respect du droit à l’image, respect du droit des tiers</h2>
    <ol>
        <li>Une photo, un film ou encore un écrit peuvent faire naître des droits au profit de celui qui a écrit le texte, pris la photo ou encore filmé une scène. Il s’agit de ce que l’on nomme des « droits de propriété intellectuelle ».</li>
        <li>Vous ne pouvez donc pas publier ces contenus sur LACLASSEALAMAISON sans vous assurer que vous en avez le droit.</li>
        <li>LACLASSEALAMAISON ne peut pas procéder à la vérification de ces droits avant leur publication et n’assume que la responsabilité des contenus qu’elle produit elle-même et avec l’aide de ses partenaires.</li>
        <li>Vous garantissez donc à LACLASSEALAMAISON que la publication des contenus respecte bien les droits de propriété intellectuelle de leurs auteurs et que LACLASSEALAMAISON pourra exploiter l’ensemble des contenus publiés, sous réserve du respect du droit à l’image des sujets concernés. Ce droit prendra fin avec le retrait des contenus concernés, sans que cela ne remette en cause les droits accordés antérieurement au(x) retrait(s). </li>
        <li>Vous fournissez à LACLASSEALAMAISON les formulaires d’autorisation de prise de vue dûment remplis avant la diffusion des films sur La PLATEFORME</li>
        <li>Vous vous engagez à garantir LACLASSEALAMAISON de toutes les conséquences notamment financières qui découleraient de la violation de droits de propriété intellectuelle due à des déclarations erronées de votre part.</li>
    </ol>

    <h2>Descriptif des services</h2>
    <ol>
        <li>LACLASSEALAMAISON permet la création et la gestion de contenus multimédias destinés à promouvoir des cours de soutien scolaire bénévole aux élèves des sections maternelle à primaire.</li>
        <li>LACLASSEALAMAISON est proposé en mode hébergé. </li>
        <li>LACLASSEALAMAISON assure l’hébergement des données, la maintenance et la sécurité des contenus présents dans l’interface d’administration. </li>
        <li>Les vidéos éditées sont hébergées et diffusées  via  le service « youtube.com » détenu par Google Ireland Limited, société immatriculée et opérant en Irlande sous le numéro 368047, dont le siège social est situé à Gordon House, Barrow Street, Dublin 4, Ireland.</li>
        <li>En utilisant les services proposés par LACLASSEALAMAISON, l’UTILISATEUR reconnaît et accepte qu’il est également soumis aux conditions générales de YOUTUBE.</li>
    </ol>

    <h2>Devoir de vigilance des adultes responsables des enfants consultant les contenus de LACLASSEALAMAISON</h2>
    <ol>
        <li>CLASSEALAMAISON n’intervient qu’en qualité de plateforme destinée à accueillir les offres de soutien scolaire. </li>
        <li>En sa qualité de simple hébergeur, LACLASSEALAMAISON ne peut garantir la sécurité et la fiabilité de toutes le offres et il appartient donc aux bénéficiaires de respecter l’ensemble des règles de sécurité qui s’imposent lorsque des services dématérialisés sont utilisés : ne pas communiquer de mot de passe, de code (CB ou autre), assurer les vérifications minimums etc.</li>
    </ol>

    <h2>Ce qu’il est indispensable d’avoir pour faire fonctionner LACLASSEALAMAISON.</h2>
    <ol>
        <li>Pour utiliser LACLASSEALAMAISON vous devez vous connecter à l’Internet.</li>
        <li>Cet accès à l’Internet vous est fournit par des fournisseurs d’accès à l’Internet (qu’on appelle aussi « FAI ») ou des opérateurs de téléphonie mobile si vous vous connectez avec des appareils mobiles (type smartphone ou tablette).</li>
        <li>Ces FAI sont les seuls responsables en cas de mauvais fonctionnement de la connexion vous permettant d’accéder à LACLASSEALAMAISON.</li>
        <li>Si les réseaux qui permettent le fonctionnement de l’Internet fonctionnent normalement, vous pouvez accéder en permanence à LACLASSEALAMAISON.</li>
        <li>Certaines mises à jour peuvent rendre indisponible LACLASSEALAMAISON pendant de courts moments même si LACLASSEALAMAISON essaye de mettre en œuvre ces mises à jour à des horaires ne gênant pas l’utilisation du site web (en fin de soirée ou même la nuit par exemple). </li>
        <li>En acceptant les conditions d’utilisation, vous renoncez donc à engager la responsabilité de LACLASSEALAMAISON pour ces éventuels et ponctuels désagréments nécessaires à l’évolution et au bon fonctionnement des services.</li>
    </ol>

    <h2>Respect des règles légales et règlementaires</h2>
    <ol>
        <li>L’utilisation de LACLASSEALAMAISON pour la promotion de prestations payantes est interdite.</li>
        <li>Il est rappelé aux utilisateurs que « nul n’est censé ignorer la loi » et qu’il ne rentre pas dans les missions de LACLASSEALAMAISON de les renseigner de manière exhaustive sur l’état du droit concernant l’usage qu’ils font des services mis à leur disposition.</li>
        <li>Les informations juridiques fournies par LACLASSEALAMAISON le sont donc à titre d’avertissement et de rappel mais ne sauraient être exhaustives au regard de la multiplicité des règles en vigueur. La responsabilité de LACLASSEALAMAISON ne saurait donc être recherchée pour un défaut d’information juridique s’agissant du respect du droit positif que chacun est censé connaître ou rechercher avant d’utiliser les services proposés.</li>
        <li>En cas de doute sur la conformité d’une annonce aux règlementations et/ou à la législation en vigueur, l’utilisateur fait donc sienne l’obligation de vérifier l’état du droit avant de procéder au dépôt de son annonce.</li>
        <li>LACLASSEALAMAISON est uniquement hébergeur des outils pédagogiques proposés et n’opère donc pas de contrôle a priori de conformité de celles-ci.</li>
        <li>En publiant un contenu, vous en assumez donc la responsabilité </li>
    </ol>

    <h2>Comment contacter quelqu’un si j’ai besoin d’assistance ?</h2>
    <p>
        Si vous avez besoin d’assistance et que nos outils d’aide en ligne ne suffisent pas, vous pouvez envoyer un email à <a href="mailto:contact@laclassalamaison.org">contact@laclassalamaison.org</a>
    </p>
    <ol>
        <li>Où sont hébergées les données que vous mettez sur la Solution ?</li>
        <li>Pour pouvoir publier des photos, des textes ou encore des films sur LACLASSEALAMAISON, il faut utiliser un serveur. </li>
        <li>Les coordonnées de ce serveur sont les suivantes : XXX</li>
    </ol>

    <h2>Ce que vous devez vérifier avant de proposer un contenu</h2>
    <ol>
        <li>Une photo, un film ou encore un écrit peuvent faire naître des droits au profit de celui qui a écrit le texte, pris la photo ou encore filmé une scène. Il s’agit de ce que l’on nomme des « droits de propriété intellectuelle ».</li>
        <li>Vous ne pouvez donc pas publier ces contenus sur LACLASSEALAMAISON sans vous assurer que vous en avez le droit.</li>
        <li>LACLASSEALAMAISON ne peut pas systématiquement procéder à la vérification de ces droits avant leur publication. Vous garantissez donc à LACLASSEALAMAISON  que la publication des contenus respecte bien les droits de propriété intellectuelle de leurs auteurs et que LACLASSEALAMAISON  pourra exploiter l’ensemble des contenus publiés, sous réserve du respect de l’éventuel droit à l’image des sujets concernés. Ce droit prendra fin avec le retrait des contenus concernés, sans que cela ne remette en cause les droits accordés antérieurement au(x) retrait(s). </li>
        <li>Vous vous engagez à garantir LACLASSEALAMAISON de toutes les conséquences notamment financières qui découleraient de la violation de droits de propriété intellectuelle due à des déclarations erronées de votre part.</li>
    </ol>

    <h2>Quelles sont les limitations à la responsabilité de LACLASSEALAMAISON?</h2>
    <ol>
        <li>Pour engager la responsabilité de LACLASSEALAMAISON concernant son bon fonctionnement vous acceptez de devoir démontrer qu’elle a commis une faute : LACLASSEALAMAISON est tenu à ce titre d’une obligation de moyen.</li>
        <li>En acceptant les conditions d’utilisation, en cas de faute prouvée  de LACLASSEALAMAISON, vous acceptez de limiter les réparations financières qui vous seront dues aux dommages directs et prévisibles occasionnés dans le cadre de l’utilisation de LACLASSEALAMAISON à l’exclusion des pertes ou des dommages indirects ou imprévisibles que vous ou des tiers pourraient subir comme par exemple : tout gain manqué, perte totale ou partielle, inexactitude ou corruption partielle ou totale de fichiers ou de données, préjudice commercial, perte de chiffre d’affaires ou de bénéfice, perte de clientèle, perte d’une chance, coût de l’obtention d’un produit, d’un service ou de technologie de substitution, en relation ou provenant de l’inexécution ou de l’exécution fautive des obligations</li>
    </ol>

    <h2>Concernant la protection des Données Personnelles</h2>
    <ol>
        <li>Pour utiliser LACLASSEALAMAISON, vous devez fournir des données personnelles nécessaire au fonctionnement du site web.</li>
        <li>LACLASSEALAMAISON vous informe ci-après des fondements légaux autorisant la récolte et le traitement de ces Données Personnelles : Article 6.1.b du RGPD : « le traitement est nécessaire à l’exécution d’un contrat auquel la personne concernée est partie ou à l’exécution de mesures précontractuelles prises à la demande de celle-ci; »</li>
        <li>Article 6.1.c du RGPD : «  le traitement est nécessaire au respect d’une obligation légale à laquelle le responsable du traitement est soumis; »</li>
        <li>LACLASSEALAMAISON vous informe que ces données personnelles sont destinées à la mise en œuvre des services proposés sur LACLASSEALAMAISON. </li>
        <br>
        <li>Grâce à la loi, vous bénéficiez d’un droit d’accès, de rectification, d’opposition, de suppression et de portabilité sur ces Données Personnelles. Ces droits peuvent s’exercer en adressant un courrier recommandé avec accusé de réception à XXX. </li>
        <li>Pour assurer la sécurité de ces données personnelles, toute demande doit être accompagnée d’une copie d’un titre d’identité en cours de validité au jour de la demande.</li>
    </ol>

    <h2>Dispositions contractuelles diverses.</h2>
    <ol>
        <li>Si un différend survient entre vous et LACLASSEALAMAISON, les parties acceptent donc que les registres informatiques qui contiennent une trace de leurs échanges  à titre de preuve entre elles. LACLASSEALAMAISON garantit que la conservation de ces échanges  est effectuée dans des conditions de nature à en garantir l’intégrité.</li>
        <li>Si une des clause des conditions d’utilisation, pour quelque raison que ce soit, s’avère inopérante, (par exemple : nullité, caducité…), toutes les autres clauses demeurent malgré tout valables.</li>
    </ol>

    <h2>En cas de litiges entre nous, comment ça se passe ?</h2>
    <ol>
        <li>Le seul droit qui s’applique aux conditions d’utilisation est le droit français.</li>
        <li>En cas de différends entre les parties, celles-ci conviennent de se rencontrer dans les 30 jours de la naissance du différend, dans un lieu situé dans le ressort de la Cour d’Appel de PARIS ou d’organiser une réunion à distance pour évoquer les difficultés rencontrées.</li>
        <li>Au cours de cette réunion, les parties doivent essayer de trouver une issue amiable à leur(s) différend(s).</li>
        <li>Cette phase de négociations est une obligation contractuelle.</li>
        <li>Si dans les 15 jours qui suivent cette rencontre, les parties n’ont pu se mettre d’accord, elles peuvent alors avoir recours à une procédure judiciaire. Seules les juridictions du ressort de la Cour d’Appel de XXXpeuvent être saisies.</li>
        <li>Aucun procès concernant un différend lié directement ou indirectement aux conditions d’utilisation ne peut avoir lieu plus d’un an après la naissance de la prétention conformément aux dispositions de l’article 2254 du code civil. </li>
    </ol>

    <h2>Définitions de certains termes utilisés dans les conditions générales.</h2>

    <p>
        Pour éviter toute incompréhension et toute discussion lors d’un différend, les définitions qui suivent fixent la signification contractuelle des termes figurant  dans les conditions d’utilisation.
    </p>

    <p><strong>Données Personnelles</strong> : au sens de l’article 4.1 du RGPD : « toute information se rapportant à une personne physique identifiée ou identifiable (ci-après dénommée «personne concernée»); est réputée être une «personne physique identifiable» une personne physique qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu’un nom, un numéro d’identification, des données de localisation, un identifiant </p>

    <p><strong>Responsable de Traitement</strong> : au sens de l’article 4.7 du RGPD :  « la personne physique ou morale, l’autorité publique, le service ou un autre organisme qui, seul ou conjointement avec d’autres, détermine les finalités et les moyens du traitement; lorsque les finalités et les moyens de ce traitement sont déterminés par le droit de l’Union ou le droit d’un État membre, le responsable du traitement peut être désigné ou les critères spécifiques applicables à sa désignation peuvent être prévus par le droit de l’Union ou par le droit d’un État membre; »</p>

    <p><strong>RGPD</strong> : (règlement général sur la protection des données) Règlement (UE) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, et abrogeant la directive 95/46/CE</p>

    <span class="flex justify-center">
        <%= link_to 'Voir la page Politique de confidentialités', page_path('politique-de-confidentialite'), class: 'btn-orange my-12' %>
    </span>

    <p><strong>Traitement</strong> : au sens de l’article 4.2 du RGPD : « toute opération ou tout ensemble d’opérations effectuées ou non à l’aide de procédés automatisés et appliquées à des données ou des ensembles de données à caractère personnel, telles que la collecte, l’enregistrement, l’organisation, la structuration, la conservation, l’adaptation ou la modification, l’extraction, la consultation, l’utilisation, la communication par transmission, la diffusion ou toute autre forme de mise à disposition, le rapprochement ou l’interconnexion, la limitation, l’effacement ou la destruction; »</p>

</div>
