<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">Restez informé sur l’ouverture de la plateforme</h1>
    </div>
</header>

<main class="max-w-4xl mx-auto sm:px-6 lg:px-8 my-12">

    <form class="w-full max-w-lg m-auto py-12">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Prénom *
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="jane">
            </div>
        </div>

        <div class="flex flex-wrap mb-6">
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Adresse email *
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="jane.doe@gmail.com">
            </div>
        </div>

        <p>Objet : Je souhaite être informé à l'ouverture du site Internet</p>
        
        <div class="block my-6">
            <span class="text-gray-700">Choix de la classe :</span>
            <span class="text-gray-700"><i>(Choix multiple autorisé)</i></span>
            <div class="mt-2">
                <div>
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox text-orange-400">
                    <span class="ml-2">Maternelle</span>
                </label>
                </div>
                <div>
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox text-green-400">
                    <span class="ml-2">CP</span>
                </label>
                </div>
                <div>
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox text-red-600">
                    <span class="ml-2">CE1</span>
                </label>
                </div>
                <div>
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox text-blue-500">
                    <span class="ml-2">CE2</span>
                </label>
                </div>
                <div>
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox text-purple-400">
                    <span class="ml-2">CM1</span>
                </label>
                </div>
                <div>
                <label class="inline-flex items-center">
                    <input type="checkbox" class="form-checkbox text-yellow-400">
                    <span class="ml-2">CM2</span>
                </label>
                </div>
            </div>
        </div>


        <div class="md:flex md:items-center mb-6">
            <label class="block text-gray-500 font-bold">
            <input class="mr-2 leading-tight" type="checkbox">
            <span class="text-sm">
                J'accepte les conditions générales*
            </span>
            </label>
        </div>
        Politique de confidentialité :
        <div class="md:flex md:items-center mb-6">
            <label class="block text-gray-500 font-bold">
            <input class="mr-2 leading-tight" type="checkbox">
            <span class="text-sm">
                En cochant cette case j’autorise "La classe à la maison" à enregistrer mes données personnelles (email, coordonnées, message)
            </span>
            </label>
        </div>
        <div class="md:flex md:items-center">
            <div class="m-auto">
            <button class="btn-pink" type="button">
                Envoyer
            </button>
            </div>
        </div>


    </form>

</main>