<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">Politique de confidentialité</h1>
    </div>
</header>

<main class="max-w-4xl mx-auto sm:px-6 lg:px-8 my-12">
    <p>Conformément aux dispositions de la législation en vigueur sur la protection des données personnelles, nous vous informons que vos données seront intégrées dans le système de traitement appartenant à  “La classe à la maison”. </p>

    <h2>Responsable de traitement</h2>
    <p>Au sens de l’article 4.7 du RGPD, "Hack la crise" revêt la qualité de responsable du traitement des données personnelles collectées sur le site web www.laclassealamaison.org.  “La classe à la maison” détermine les finalités et les moyens du ou des traitements réalisés.</p>

    <h2>Pourquoi "LA CLASSE À LA MAISON" collecte-t-elle des données personnelles ?</h2>
    <p>"La classe à la maison" collecte des données pour plusieurs besoins explicités ci-après :</p>
    <ul>
        <li>la mise en œuvre des services proposés sur le site web,</li>
        <li>l’assistance</li>
        <li>Certaines données sont collectées automatiquement. Vous en êtes alors informés au préalable,</li>
        <li>D’autres collectes sont imposées par la loi et/ou le règlement,</li>
        <li>D’autres enfin revêtent une importance stratégique et commerciale et nécessitent le recueil préalable de votre consentement</li>
    </ul>
    <p>"La classe à la maison" veille dans chaque cas de figure à respecter la réglementation dont l’exigence varie de la simple information à la récolte préalable de votre accord.</p>

    <h3>Données collectées automatiquement</h3>
    <p>Conformément aux dispositions législatives et réglementaires en vigueur, nous collectons automatiquement certaines informations lorsque vous naviguez sur notre site. Ces données sont les suivantes :</p>
    <ul>
        <li>l’appareil et le navigateur utilisé</li>
        <li>l’adresse IP</li>
        <li>la date et l’heure de votre navigation</li>
        <li>l’historique de votre navigation</li>
    </ul>
    <p>
        Pour que cette collecte de données soit autorisée par la réglementation,
        nous mettons à votre disposition le mécanisme d’opposition en mettant à jour vos préférences de contact dans
        la section “mon compte” de notre site web ou en contactant le service client. Cette possibilité est utilisable sur tous
        les navigateurs, et tous les types de terminaux (y compris les smartphones et tablettes). Contactez-nous par mail
        <a href="mailto:contact.lcalm@gmail.com">contact.lcalm@gmail.com</a> si vous constatez des difficultés à utiliser ce mécanisme.
    </p>

    <p>Conformément à la réglementation, nous vous informons en outre que :</p>
    <ul>
        <li>Les données collectées ne sont pas recoupées avec d’autres traitements (fichiers clients ou statistiques de fréquentation d'autres sites par exemple).</li>
        <li>Les données collectées par ce biais ne donnent lieu qu’à la production de statistiques anonymes</li>
        <li>Nous ne suivons pas votre navigation sur d’autres sites web.</li>
        <li>L’adresse IP collectée ne permet pas d’obtenir une géolocalisation plus précise que l’échelle d’une ville</li>
        <li>Ces données ne sont pas conservées au-delà de 13 mois à compter de votre première visite.</li>
        <li>les données de fréquentation brutes associant un identifiant ne doivent pas non plus être conservées plus de 13 mois</li>
    </ul>

    <p>Toute collecte de données allant au delà de celles visant à alimenter ces statistiques donnent lieu au recueil de votre consentement préalable si elle n’est pas assise sur un autre fondement légal.</p>

    <h3>Données collectées à la création de votre compte client </h3>
    <p>
        Afin de créer votre compte et accéder aux services, vous devrez nous fournir les informations vous concernant ainsi que des informations de contact, considérées comme personnelles : votre nom, vos coordonnées (adresse email et numéro de téléphone), Le fondement légal de cette récolte et de ce traitement repose sur l’article 6.1.b du RÈGLEMENT (UE) 2016/679 DU PARLEMENT EUROPÉEN ET DU CONSEIL du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, et abrogeant la directive 95/46/CE (règlement général sur la protection des données ou « RGPD »).
    </p>

    <h3>Données collectées lorsque vous contactez le service d’assistance</h3>
    <p>
        Vous êtes susceptibles de nous transmettre des données personnelles lorsque vous contactez le service client, afin que nous puissions traiter vos demandes. Là encore le fondement légal est constitué par l’article 6.1.b du RGPD. Le fondement légal de cette récolte et de ce traitement repose sur l’article 6.1.b du RÈGLEMENT (UE) 2016/679 DU PARLEMENT EUROPÉEN ET DU CONSEIL du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, et abrogeant la directive 95/46/CE (règlement général sur la protection des données ou « RGPD ») .
    </p>

    <h2>Conservation des données</h2>
    <p>
        Conformément à la réglementation en vigueur, “La classe à la maison” vous informe que les données seront conservées pendant la période strictement nécessaire à leur traitement, en accord avec la réglementation en vigueur localement.
    </p>

    <h2>Traitement des données</h2>
    <p>“La classe à la maison” informe qu'il procédera au traitement des données de manière légale, loyale, transparente, adéquate, pertinente, limitée, précise et mise à jour. C'est pourquoi “La classe à la maison”  s'engage à prendre toutes les mesures raisonnables pour que celles-ci soient supprimées ou rectifiées sans délai lorsqu'elles sont inexactes.  “La classe à la maison” peut être amené à vous joindre par téléphone pour s'assurer de la conformité des informations fournies.</p>
    <p>“La classe à la maison” traitera vos données afin de remplir ses obligations contractuelles pour l’accès aux services proposés et la gestion de votre compte utilisateur. Sans ces données, nous pourrions ne pas être en mesure de vous fournir les services proposés.</p>
    <p>“La classe à la maison” traitera également vos informations pour vous envoyer des informations sur les services proposés si vous avez donné le consentement pour le faire. Vous pouvez retirer votre consentement à recevoir ces informations à tout moment en mettant à jour vos préférences de contact dans la section “mon compte” de notre site web ou en contactant le service d’aide. </p>

    <h2>Droit des utilisateurs</h2>
    <p>Conformément aux articles 15 à 22 RGPD, concernant les données que nous détenons sur vous, vous disposez des droits suivants :</p>
    <ul>
        <li>droit d’accès (article 15 du RGPD)</li>
        <li>droit de rectification (article 16 du RGPD)</li>
        <li>droit d’effacement  (article 17 du RGPD)</li>
        <li>droit à la limitation du traitement  (article 18 du RGPD)</li>
        <li>droit de notification des = rectifications,  effacements, limitation  (article 19 du RGPD)</li>
        <li>droit à la portabilité des données  (article 20 du RGPD)</li>
        <li>droit d’opposition  (article 21 du RGPD)</li>
        <li>droit de ne pas faire l’objet d’un profilage ( (article 22 du RGPD)</li>
    </ul>

    <p>
        Vous pouvez exercer ces droit en en adressant votre demande auprès à l'adresse électronique <a href="mailto:contact.lcalm@gmail.com">contact.lcalm@gmail.com</a>.
        Toute demande d’exercice d’un droit doit être accompagné d’une copie de justificatif d’identité en cours de validité pour nous
        permettre de nous assurer que la demande formulée émane bien du légitime titulaire des données concernées. Vous pouvez également
        vous adresser à l'autorité de contrôle compétente (CNIL) pour présenter la réclamation que vous jugez appropriée.
    </p>

    <h2>Transfert des données</h2>

    <p>
        “La classe à la maison” informe qu’il peut procéder à un transfert des données lorsqu’il le sera nécessaire (par exemple aux sous-traitants tels que les graphistes et/ou techniciens).<br><br>
        Ce transfert de données s'effectuera dans le respect des garanties, mesures et droits prévus par la législation en vigueur sur la protection des données personnelles et en accord avec cette politique de confidentialité.
    </p>

    <h2>Durée de conservation des données</h2>
    <p>
        Les durées de conservations de vos données varient en fonction de l’état de du droit et quand les contraintes sont moindres, en fonction des recommandations de la CNIL et de nos besoins. <br><br>

        A titre indicatif, vous trouverez dans le tableau joint les durées de conservations des principales données appliquées par “La classe à la maison”
    </p>

    <%= image_tag 'rgpd.png', alt: 'politique de confidentialité', class: 'mx-auto' %>

    <h2>Changements apportés à cette Politique de Confidentialité</h2>
    <p>Cette politique de confidentialité a été mise à jour le 30 mars 2020. De temps en temps,“La classe à la maison” est susceptible d’apporter des modifications à sa politique de confidentialité et la mettre à jour sur son site web. Toute mise à jour de celle-ci vous sera signalée par la présence d’encarts facilement identifiable sur notre site web et/ou l’envoi de courrier électronique d’information.</p>


</main>
