<% title 'Remerciements' %>
<% description "Grace à cette solidarité dûe au COVID, La Classe à la Maison a pu bénéficier d'aide concernant ses produits et services proposés" %>
<% keywords 'classe, virtuelle, confinement, maternelle, primaire, enfants, école, interactif, continuité, pédagogie, professeur, en ligne, room, pédagogie, lutte contre le covid' %>
<% set_meta_tags og: { 
    title:    'Remerciements',
    type:     'website',
    url:      'https://laclassealamaison.org/remerciement',
    image: {
      _:      'https://www.laclassealamaison.org/og/open-graph.jpg',
      width:  600,
      height: 315,
    }
 } %>
 <% set_meta_tags twitter: {
  card:  "photo",
  image: {
    _:      'https://www.laclassealamaison.org/og/logo-carre.png',
    width:  100,
    height: 100,
  }
} %>

<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-2xl md:text-4xl text-pink-400 font-bold">Remerciement</h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-8 my-12">

    <p>Page de remerciement en cours</p>

</div>
