<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">Remerciement</h1>
    </div>
</header>

<main class="max-w-4xl mx-auto sm:px-6 lg:px-8 my-12">

    <p>Page de remerciement en cours</p>

</main>