<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-2xl md:text-4xl text-pink-400 font-bold">Contact</h1>
    </div>
</header>

<main class="max-w-4xl mx-auto sm:px-6 lg:px-8 mt-12">

    <p>
    Lorsque vous remplissez un formulaire sur notre site, nous recueillons les informations suivantes : votre nom, votre email, et toutes les informations personnelles que vous pourriez nous communiquer concernant votre demande.
    </p>

    <p>
        Ces données sont collectées dans l’objectif d’établir un premier contact et de répondre au plus proche de votre demande par l’élaboration d’une réponse en rapport avec les services proposés.
    </p>

    <p>
        Le caractère obligatoire ou facultatif vous est signalé lors de la collecte par un astérisque.
    </p>


    <%= render 'form', contact: @contact %>

</main>
