.ui.card
  .content
    %a.header= classroom_animation.course&.title || classroom_animation.classroom.name
    .meta
      %span= classroom_animation.human_time
    .description
      %p
    .extra
      .ui.label 0/12
