<header class="bg-gray-100 border-t-2 border-b-2 border-gray-300">
    <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
        <h1 class="py-6 text-4xl text-pink-400 font-bold">Planifier une session</h1>
    </div>
</header>

<div class="max-w-4xl mx-auto sm:px-6 lg:px-8 mb-12">
  <%= render 'form', classroom_animation: @classroom_animation, classrooms: @classrooms %>
</div>
