- content_for(:page_title, "Tous les cours")
= link_to new_administration_course_path, style: "background-color: #31C48D", class: 'ui green button collection_action' do
  %i.fas.fa-plus.mx-2
  Ajouter un cours
.courses.w-full.flex.flex-wrap
  = render partial: 'course', collection: @courses
