= link_to course_path(course), title: course.title, class: "w-full md:w-1/2 lg:w-1/3 xl:w-1/3 rounded shadow-lg" do
  .tooltip
    .px-6.py-4
      .font-bold.text-xl.mb-2= course.title
      %p.text-gray-700.text-base
        = course.description
    .px-6.py-4
      %span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2= course.classroom.name
      - if course.available?
        %span.inline-block.bg-green-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2 Session disponible
      - else
        %span.inline-block.bg-yellow-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-700.mr-2 Complet
    -# .tooltip-text
    -#   = course.content
