- content_for(:page_title, "Mes cours")
= link_to "Ajouter un cours", new_teachers_course_path, style: "background-color: #31C48D", class: 'ui green button collection_action'
.courses.w-full.flex.flex-wrap
  = render partial: 'course', collection: @courses
