<%= form_with(url: classroom_animation_closures_path(session), local: true) do |form| %>
  <div class="mb-2">
    <%= form.submit 'Fermer la salle de classe aux élèves', class: 'btn-red' %>
  </div>
<% end %>
